body {
  margin: 0;
  font-family:"MuseoSansLight", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:  url("https://enterpriseleague.com/public/img/featured/news/background.svg") !important;
  background-repeat: no-repeat;
  background-size: 155%;
}

code {
  font-family:"MuseoSansLight", sans-serif;
}



